{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number</td>
                    <td>Number of receipts</td>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.owner.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
