{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Expenses</h1>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number of receipts</td>
                </tr>
            </thead>
            <tbody>
                {% for category in expense_category_list %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.owner.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
